@font-face {
  font-family: "Base";
  src: 
  url("BaseNeueTrial-ExpandedBold.otf") format("opentype");
  }

body {
    margin: 0;
    padding: 1rem;
    background-image: url("bg-image.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1B3822 !important;
    background-position: center;
  }
  
  .masonry-with-columns {
    columns: 4 250px;
    column-gap: 1rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    max-height: 2200px;
  }

  @media screen and (max-width: 820px) {
    .masonry-with-columns{
      max-height: 4000px;
    }
    
  }

  @media screen and (max-width: 600px) {
    .masonry-with-columns{
      columns: 1 250px;
      max-height: 8000px;
    }
    
  }

  .single-block {
    border-radius: 16px;
    color: #05002C;
    display: inline-block;
    width: 100%;
    font-family: system-ui;
    font-weight: 900;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0.61);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  }

  
  .single-block:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.012);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .single-block h2 {
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
    font-family: 'Golos Text', sans-serif;
    color:#05002C;
    margin-left: 10px;
  }
  .non-affiliate-link {
    text-align: left;
    display: block;
    width: 100%;
    color: #05002C;
    font-weight: 200;
    line-height: 1.5rem;
    font-family: 'Golos Text', sans-serif;
  }

  .link {
    text-align: left;
    display: block;
    width: 100%;
    color: #05002C;
    font-weight: 200;
    line-height: 1.5rem;
    font-family: 'Golos Text', sans-serif;
    margin-bottom: 1rem;
  }

  .link .info{
    font-size: 0.8rem;
    line-height: 1rem;
    color: #000000b0;
    margin-left: 1.9rem;
    margin-bottom: 0.3rem;

    
  }

.info a{
  text-decoration: none;
}
  
/* Style the header with a grey background and some padding */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header .header-right{
    margin-top: 1rem;
  }
  }


@media screen and (max-width: 500px) {
  

  .header h1.logo {
    font-size: 3rem;
  }

  .title{
  }

  body{
    background-position-x: center;
  }
   
}

.logo {
  margin: 0;
  font-size: 50px;
}

.title {
  font-size: 18px;
  color: #000000;
  margin-top: 5px;
}

.header-center {
  text-align: center;
}

.header-right {
  text-align: right;
}

.header-left {
  visibility: hidden;
}

.button {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  border-radius: 16px;
}

.button a{
  text-decoration: none;
  color: black;
}

.button:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.012);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header h1.logo a {
    font-weight: bold;
    font-family: "Base";
    margin: 0 auto;
    color: #05002C;
    text-align: center;
    font-size: 3.5rem;
    text-decoration: none;
    
  }

  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right div {
    float: right;
  }
  

.twitter-icon{
    width: 20px; /* Set the width of the image */
    height: 16px; /* Set the height of the image */
}






.non-affiliate-links{
  counter-reset: link-counter;
  background: none;
}

.non-affiliate-links a{
    text-decoration: none;
}

.non-affiliate-links .non-affiliate-link:before {
    counter-increment: link-counter; /* Increment the counter */
    content: counter(link-counter); /* Add the counter number and a period */
    color: rgb(155, 155, 155);
    font-size: 12px;
    display: inline-block;
    left: 0;
    width: 20px;
    text-align: right;
    margin-right: 8px;
    
}

.non-affiliate-links .non-affiliate-link:hover {
  color: #4868FF;
}

.links .link a:hover {
  color: #4868FF;
}





.links{
  counter-reset: link-counter;
  background: none;
}

.links .link:before {
  counter-increment: link-counter; /* Increment the counter */
  content: counter(link-counter); /* Add the counter number and a period */
  color: rgb(155, 155, 155);
  font-size: 12px;
  display: inline-block;
  left: 0;
  width: 20px;
  text-align: right;
  margin-right: 8px;
}

.link a{
  text-decoration: none;
  color: black;
}




.image-favicon{
    width: 16px;
    height: 16px;
    margin-right: 8px ;
}

.masonry-with-columns div a:hover .image-favicon{
  transform: scale(1.2);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.footer{
  text-align: left;
}

.card-icon{
  float:right;
  width: 24px;
}

.centered{
  display: flex;
  justify-content: center;

}

.footer-links{
  text-decoration: none;
  color: #07516e;
}

.bigailist{
  font-size: 1.3rem;
  margin-bottom: 16px;
  margin-top: 16px;
}

.bigailist img{
  margin-right: 8px;
  
}




